

.carouselContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .carouselContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .textContainer {
    margin-left: 20px;
  }
}
