/* Index.module.css */
.navbar {
  width: 100%;
  height: 10vh !important;
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0;
  z-index: 3;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  backdrop-filter: blur(1px);
  zoom: 0.95;
}
.materialIcon {
  color: white;
}
.blogo {
  width: 140px;
  height: 50px;
  position: relative;
  margin-left: 3vw;
  display: flex;
}

.logonavbar {
  object-fit: fill;
}

.menuContainer {
  margin: 0 6%;
  visibility: visible; /* Inicialmente oculto */
}

.menuOptions {
  margin: auto 10px;
  visibility: visible; /* Inicialmente oculto */
}

.menuIcon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: white;
}

.menuIconContainer {
  display: flex;
}

@media (max-width: 933px ) and (min-width: 600px) {
  .navbar {
    height: 13vh !important;
    background-color: black;
  }
  .blogo {
    height: 35px;
    width: 100px;
  }
  .logonavbar {
    object-fit: fill;
  }
  .menuContainer {
    margin: 0 5%;
  }
}

@media (max-width: 576px) {
  .menuOptions {
    display: none;
  }
  .navbar {
    background-color: black;
  }
  .logonavbar {
    margin-left: 10px;
  }
  .menuIcon {
    display: flex;
    color: white;
  }
  .logonavbar {
    object-fit: fill;
  }
  .blogo {
    height: 6vh;
    width: 35vw;
  }
}
