.flexHomeSection {
  display: flex;
  flex-direction: column;
  width: 38vw;
  gap: .2vh;
  margin-left: 5vw;
  margin-top: 4vh;
}

.boxHomeSection {
  position: absolute;
  margin-left: 3vw;
  margin-top: 30vh;
  display: flex;
  gap: 2vh;
  flex-direction: column;
  zoom: 0.90;
}

.flexHomeSectionTitle {
  font-family: "Exo" !important;
  font-size: 1.55rem !important;
  line-height: 1.3 !important;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
  color: white;
  text-align: left;
  width: 45vw;
}

.flexButtonHS {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5.5vh;
}

.image {
  object-fit: contain;
}

.boxImageFlex {
  width: 400px;
  height: 300px;
  position: relative;
}

.boldText {
  font-family: "Exo-Bl";
  font-size: 1.55rem !important;
}

.semiBoldText {
  font-family: "Exo-B";
  font-size: 1.55rem !important;
}

@media (max-width: 933px) and (min-width: 600px) {
  .flexHomeSectionTitle {
    font-size: 1.1rem !important;
    width: 60vw !important;
  }
  .boldText {
    font-size: 1.1rem !important;
  }
  .semiBoldText {
    font-size: 1.1rem !important;
  }

  .flexHomeSectionText {
    font-size: 20px;
  }

  .flexHomeSection {
    margin-top: 3vh;
    margin-left: -5vw;
    width: 45vw;
  }
  .boxHomeSection {
    margin-top: 40vh;
    margin-left: 15vw;
    zoom: .88;
  }
  
  .flexButtonHS {
    justify-content: center;
    gap: 2vw;
  }
}

@media (max-width: 576px) {
  .flexHomeSectionTitle {
    font-size: .9rem !important;
    zoom: 1.1;
    width: 85vw !important;
    height: 15vh;
  }
  .boldText {
    font-size: .9rem !important;
  }
  
  .semiBoldText {
    font-size: .9rem !important;
  }

  .flexHomeSection {
    width: 80vw;
    border-radius: 10px;
    margin: 0;
    gap: 1vh;
  }

  .flexButtonHS {
    justify-content: start;
    margin-top: 3vh;
    gap: 5vw;
    width: 85vw;
  }

  .buttonHomeSection {
    margin-top: 15px;
  }

  .boxHomeSection {
    transform: translate(-50%, -50%);
    top: 39%;
    left: 42%;
    margin: 0;
  }
  .boxImageFlex {
    width: 85vw;
    height: 30vh;
  }
}