.flexHomeSection {
  display: flex;
  flex-direction: column;
  width: 38vw;
  gap: .2vh;
  margin-left: 5vw;
  margin-top: 4vh;
}


.boxHomeSection {
  position: absolute;
  margin-left: 3vw;
  margin-top: 28vh;
  display: flex;
  gap: 2vh;
  flex-direction: column;
  zoom: 0.97;
}

.flexHomeSectionTitle {
  font-family: "Exo" !important;
  font-size: 1.50rem !important;
  line-height: 1.3 !important;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
  color: white;
  text-align: left;
}


.buttonHomeSection {
  margin-top: 30px;
}

.flexButtonHS {
  display: flex;
  justify-content: space-around;
  margin-top: 5.5vh;
}

.image {
  object-fit: contain;
}

.boxImageFlex {
  width: 55vw;
  height: 30vh;
  position: relative;
  margin-left: -190px;
}

.boldText {
  font-family: "Exo-Bl";
}

@media (max-width: 930px) and (min-width: 600px) {
  .flexHomeSectionTitle {
    font-size: 33px;
  }

  .flexHomeSectionText {
    font-size: 20px;
  }

  .flexHomeSection {
    margin-left: 62vw;
    margin-top: 23vh;
  }
}

@media (max-width: 576px) {
  .flexHomeSectionTitle {
    font-size: 25px;
  }

  .flexHomeSection {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    justify-content: center;
    background-color: rgba(252, 251, 251, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    gap: 1vh;
  }

  .flexHomeSectionText {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .flexHomeSectionTitle {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .flexButtonHS {
    justify-content: center;
  }

  .buttonHomeSection {
    margin-top: 15px;
  }

}