.flexHomeSection {
  display: flex;
  flex-direction: column;
  width: 32vw;
  gap: .2vh;
  margin-left: 5vw;
  margin-top: 4vh;
}

.boxHomeSection {
  position: absolute;
  margin-left: 3vw;
  margin-top: 28vh;
  display: flex;
  gap: 2vh;
  flex-direction: column;
}

.flexHomeSectionTitle {
  font-family: "Exo-B" !important;
  font-size: 1.65rem !important;
  line-height: 1;
  font-weight: bolder !important;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
  color: white;
  text-align: left;
}

.flexHomeSectionText {
  font-size: 1.4rem !important;
  font-family: "Exo" !important;
  text-align: justify;
  line-height: 1;
  font-weight: 100 !important;
  color: white
}

.buttonHomeSection {
  margin-top: 30px;
}

.flexButtonHS {
  display: flex;
  justify-content: space-between;
  margin-top: 5.5vh;
}

.image {
  object-fit: contain;
  margin-left: -7vw;
}

@media (max-width: 930px) and (min-width: 600px) {
  .flexHomeSectionTitle {
    font-size: 33px;
  }

  .flexHomeSectionText {
    font-size: 20px;
  }

  .flexHomeSection {
    margin-left: 62vw;
    margin-top: 23vh;
  }
}

@media (max-width: 576px) {
  .flexHomeSectionTitle {
    font-size: 25px;
  }

  .flexHomeSection {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    justify-content: center;
    background-color: rgba(252, 251, 251, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    gap: 1vh;
  }

  .flexHomeSectionText {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .flexHomeSectionTitle {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .flexButtonHS {
    justify-content: center;
  }

  .buttonHomeSection {
    margin-top: 15px;
  }

}