.flexProcSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    height: auto;
}

.flexHomeSectionTitle {
    font-family: "Exo-B";
    font-size: 3.2rem;
    margin-left: -50%;
}

.flexProyectos {
    display: flex;
    gap: 40px;
    margin-top: 9vh;
    align-items: center;
}
.boxImage {
    position: relative;
    width: 40vw;
    height: 1vh;
    margin-left: -80%;
    margin-top: -5vh;
}

.image {
    object-fit: cover;
}
.boxHoverEffect {
    display: flex; 
}

.bottomBox {
    width: 20vw;
    height: 50vh;
    position: relative;
}

.imageProject {
    object-fit: fill;
}
.imageHover {
    object-fit: cover;
}

.topBox {
    position: absolute;
    width: 20vw;
    height: 50vh;
    z-index: 1;
    opacity: 0;
    /* zoom: 0.99; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.topBox:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.titleCardProyect {
    color: white;
    z-index: 2;
    margin-top: 80px;
    font-family: "Exo-B";
}
.textCardProyect {
    color: white;
    z-index: 2;
    width: 150px;
    text-align: center;
    font-family: "Exo" !important;
}

@media (max-width: 1050px) and (min-width: 600px) {
    .flexProcSection {
        gap: 2px;
        margin-top: 70px;
    }
    .flexHomeSectionTitle {
        font-size: 2.2rem !important;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: -47%;
    }
    .boxImage {
        width: 45vw;
        height: 1.5vh;
        margin-top: 0;
    }
    .textCardProcSection {
      font-size: 15px;
    }
    .headerCardProcSection {
        font-size: 17px;
    }
    .cardProcSection {
        width: 45vw;
        height: 50vh;
    }
    .boxImage {
        width: 45vw;
        height: 1.5vh;
    }
    .flexProyectos{
        margin-top: 15vh;
    }
  }

@media (max-width: 576px) {
    .flexHomeSectionTitle {
        font-size: 2rem;
        text-align: center;
    }
    .flexProcSection {
        gap: 1vh;
        margin-top: 0px;
    }

    .gridCardsProc {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .cardProcSection {
        width: 90vw;
        height: 20vh;
        padding: 10px;
        gap: 20px;
    }

    .headerCardProcSection {
        font-size: 18px;
        margin: 0;
    }

    .textCardProcSection {
        font-size: 16px;
    }
    .boxImage {
        width: 100vw;
        height: .8vh;
        margin-top: -0.6vh;
    }
    .flexHomeSectionTitle {
        font-size: 1.7rem !important;
        margin-left: -17% !important;
        margin-bottom: 0;
    }
    .flexProyectos {
        flex-direction: column;
    }
    .bottomBox {
        width: 70vw;
    }
    .topBox {
        width: 70vw;
    }
}