.foptions {
  display: flex;
  align-items: baseline;
  gap: 1vw;
  zoom: 0.94;
}

.boptionsNotClicked {
  width: auto;
  height: 30px;
  margin-right: 1.5vw;
}

.boptionsClicked {
  width: auto;
  height: 30px;
  /* border-bottom: 2px solid rgb(243, 223, 77); */
  margin-right: 1.5vw;
}

.textNotClicked {
  color: white;
  font-weight: 600 !important;
  font-size: .9rem !important;
  font-family: "Exo-B" !important;
}

.textClicked {
  color: rgb(243, 223, 77);
  font-family: "Exo-B" !important;
}

.linknb {
  text-decoration: none;
}

.boptionsNotClicked:hover {
  width: auto;
  height: 30px;
  /* border-bottom: 2px solid rgba(224, 190, 131, 255); */
}

.buttonNv {
  margin-left: 2vw !important;
  margin-bottom: 0 !important;
  box-shadow: 0px 3px 5px #3a3a3b;
}

@media (min-width: 600px) and (max-width: 930px) {

  .textNotClicked {
    font-size: .55rem !important;
  }

  .textClicked {
    font-size: .55rem !important;
  }

  .foptions {
    align-items: center;
    gap: 10px;
  }

  .boptionsNotClicked {
    height: 5vh;
    margin-top: auto;
  }
  .boptionsNotClicked:hover {
    height: 5vh;
  }

  .boptionsClicked {
    height: 5vh;
    margin-top: auto;
  }

}

@media (max-width: 576px) {
  .boptionsClicked {
    height: 20px;
  }

  .boptionsNotClicked {
    height: 20px;
  }

  .foptions {
    gap: 20px;
    align-items: start;
    background-color: black;
  }
}