.foptions {
  display: flex;
  align-items: center;
  gap: 80px;
}

.boptionsNotClicked {
  width: auto;
  height: 30px;
  margin-right: 2vw;
}
.boptionsClicked {
  width: auto;
  height: 30px;
  border-bottom-width: 2px;
  border-bottom-color: rgba(255, 217, 0, 0.612);
  margin-right: 2vw;
}
.textNotClicked {
  color: white;
}
.textClicked {
    color: rgba(255, 217, 0, 0.612);
}

.linknb {
    text-decoration: none;
}

