.foptions {
  display: flex;
  align-items: baseline;
  gap: 1vw;
}

.boptionsNotClicked {
  width: auto;
  height: 30px;
  margin-right: 1.5vw;
}
.boptionsClicked {
  width: auto;
  height: 30px;
  border-bottom: 2px solid rgba(224, 190, 131, 255);
  margin-right: 1.5vw;
}
.textNotClicked {
  color: white;
  font-weight: 600 !important; 
  font-size: .9rem !important;
}
.textClicked {
  color: rgba(224, 190, 131, 255);
}

.linknb {
  text-decoration: none;
}

.boptionsNotClicked:hover {
  width: auto;
  height: 30px;
  border-bottom: 2px solid rgba(224, 190, 131, 255);
}
.buttonNv {
  margin-left: 2vw !important;
  margin-bottom: 0 !important;
  box-shadow: 0px 3px 5px #3a3a3b;
}

@media (min-width: 600px) and (max-width: 930px) {

  .textNotClicked {
    font-size: 11px !important;
  }
  .textClicked {
    font-size: 11px !important;
  }
  .foptions {
    align-items: center;
    gap: 10px;
  }
  .boptionsNotClicked {
    height: 20px;
  }
  .boptionsClicked {
    height: 20px;
  }
  
}

@media (max-width: 576px) {
  .boptionsClicked {
    height: 20px;
  }
  .boptionsNotClicked {
    height: 20px;
  }

  .foptions {
    gap: 20px;
    align-items: start;
  }
}
