.carouselBox {
    position: relative;
    display: flex;
    top: -14vh;
    cursor: pointer;
}

.indicatorCarousel {
    background: transparent;
    width: 1.5vw;
    height: 1.5vw;
    display: inline-block;
    margin: 0 8px;
    position: relative;
    bottom: 31.5vh;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid rgb(243, 223, 77);
}


.indicatorS {
    background: #FFDC06;
    border: 0px;
}


.boxControlesCarousel {
    display: flex;
    position: relative;
    width: 11.7vw;
    height: 4vh;
    bottom: 50.7vh;
    /* bottom: 25.75vw; */
    left: 44.2%;
    justify-content: space-between;
}

.buttonControles {
    width: inherit;
    height: inherit;
}

.boxIconControl {
    width: 1.7vw;
    height: 1.7vw;
    position: relative;
}

.boxIconControl:hover {
    zoom: 1.1;
    margin-top: -1px;
}

.imageButtonControl {
    object-fit: contain;
}

.playButton {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(243, 223, 77);
    position: absolute;
    top: 25%;
    right: 5%;
}


@media (max-width: 933px) and (min-width: 600px) {
    .indicatorCarousel {
        bottom: 40vh;
        width: 1.9vw;
        height: 3.7vh;
    }

    .boxControlesCarousel {
        top: -63.5vh;
        width: 16.3vw;
        left: 41.5%;
    }

    .boxIconControl {
        height: 5vh;
    }
    .playButton {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid rgb(243, 223, 77);
        top: 32%;
    }

}

/* Adjust box control carousel on small mobile devices when horizontal */

@media (max-width: 741px) and (min-width: 576px) {
    .boxControlesCarousel {
        top: -64.2vh;
        left: 41.2%;
    }
}

@media (max-width: 576px) {
    .carouselBox {
        top: -10vh;
    }

    .indicatorCarousel {
        width: 5vw;
        height: 5vw;
        bottom: 31.5vh;
    }

    .boxIconControl {
        height: 5vw;
        width: 5vw;
    }
    .playButton {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid rgb(243, 223, 77);
        top: 12%;
    }
}

@media (min-width: 394px) and (max-width: 576px) {

    .boxControlesCarousel {
        width: 39vw;
        bottom: 46vh;
        left: 0;
        margin: 0 auto;
    }
}

@media (max-width: 393px) {
    .boxControlesCarousel {
        width: 40vw;
        bottom: 46.7vh;
        left: 0;
        margin: 0 auto;
    }
}