.carouselBox {
    position: relative;
    display: flex;
    top: -14vh;
    cursor: pointer;
}

.indicatorCarousel {
    background: transparent;
    width: 2vw;
    height: 4vh;
    display: inline-block;
    margin: 0 8px;
    position: relative;
    bottom: 32vh;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid rgb(243, 223, 77);
}

.indicatorS {
    background: #FFDC06;
    border: 0px;
}
.boxControlesCarousel {
    display: flex;
    position: absolute;
    width: 13.5vw;
    height: 4vh;
    top: 97vh;
    left: 43%;
    justify-content: space-between;
}
.buttonControles {
    width: inherit;
    height: inherit;
}

.boxIconControl {
    width: 2vw;
    height: 4.5vh;
    position: relative;
}
.imageButtonControl {
    object-fit: contain;
}

@media (max-width: 1050px) and (min-width: 600px) {
    .indicatorCarousel {
        bottom: 35vh;
    }
    .boxControlesCarousel {
        top: 128.5vh;
        width: 15.8vw;
        left: 42%;
    }
    .boxIconControl {
        height: 5vh;
    }
}

@media (max-width: 576px) {
    .carouselBox {
        top: -10vh;
    }
    .indicatorCarousel {
        width: 5vw;
        height: 5vw;
    }
}