.bsection {
  width: 100%;
  height: 110vh;
  background-color: white;
  display: flex;
  zoom: 0.97;
  position: relative;
  top:0vh
}

.ourServicesSection{
  width: 100%;
  height: 120vh;
  background-color: white;
  display: flex;
  zoom: 0.97;
  position: relative;
  top: 0;
}


.bsectionContact {
  width: 100%;
  height: 40vh;
  background-color: white;
  display: flex;
  zoom: 0.97;
  position: relative;
  top:-5vh;

}

.bsectionContact2 {
  width: 100%;
  height: 30vh;
  background-color: white;
  display: flex;
  zoom: 0.97;
  position: relative;
  top: 0vh
}

.bsectionCases {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  zoom: 0.97;
  position: relative;
  top: 0vh;
}
.bsectionCases2 {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  zoom: 0.97;
  position: relative;
}

.boxexam {
  width: 300px;
  height: 300px;
  background-color: blue;
}


.footer {
  position: relative;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.customTextContactSection {
  display: flex;
  background-color: transparent;
  width: 30%;
  color: white;
  font-size: 5vh;
  font-weight: bold;
  font-family: Exo;
  margin: auto 5vw;
  letter-spacing: 0.1em;
}


.customHeaderContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 5vw;
  
}

.customHeader {
  display: flex;
  background-color: transparent;
  width: 32vw;
  color: black;
  font-size: 5vh;
  font-weight: bold;
  font-family: Exo;
  letter-spacing: 0.1em;
}



@media (max-width: 933px) and (min-width: 600px) {
  .bsection {
    height: auto;
    top: 0vh;
  }
  .bsectionContact {
    height: 60vh;
    justify-content: center;
    top: 0;
    flex-direction: column;
  }
  .bsectionContact2 {
    top: 0vh;
    height: max-content;
  }
  .customContainer {
    justify-content: center;
  }
  .ourServicesSection {
    top: 0vh;
    height: auto;
  }
  .bsectionCases {
    top: 0vh;
  }
}

@media (max-width: 620px)  {
  .customTextContactSection {
    display: flex;
    background-color: transparent;
    width: 100%;
    color: white;
    font-size: 3.5vh;
    font-weight: bold;
    font-family: Exo;
    margin: 20px auto;
    letter-spacing: 0.1em;
    justify-content: center;
  }
  .customHeader {
    width: auto;
    justify-content: center;
  }
  .bsectionContact {
    height: 60vh;
    /* background-color: rgba(97, 97, 97, 0.514); */
  }


}


@media (max-width: 576px) {
  .bsection {
    height: auto;
    top: 5vh;
   
  }
  .bsectionContact2{
    padding: 0px 20px;
    height: 55vh;
    top: 5vh;
  }
  .bsectionContact {
    height: 60vh;
    /* background-color: rgba(97, 97, 97, 0.514); */
  }
  .bsectionCases {
    top: 5vh;
    margin-top: 5vh;
  }
  .ourServicesSection{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    zoom: 0.97;
    position: relative;
    top: 5vh;
    box-shadow: 0px 3px 5px #3a3a3b;
  }

}

