.yellowBar {
    width: 100%;
    height: 60px;
    background-color: rgb(243, 223, 77);
    position: relative;
    top: -23vh;
  }
  
  .boxCardHome {
    background-color: white;
    width: 22vw;
    height: 42vh;
    max-height: 45vh;
    display: flex;
    flex-direction: column;
    padding: auto;
    box-shadow: 0px 3px 5px #3a3a3b;
    align-items: center;
    gap: 2vh;
    min-height: 200px;
    justify-content: center;
    text-align: center;
  }
  .flexYellowBar {
    display: flex;
    gap: 3vw;
    position: relative;
    top: -80%;
    justify-content: center;
  }

  .boxTextCardHome {
    width: 13vw;
    height: auto;
    text-align: center;
    font-family: "Exo" !important;
  }

  .boxTitleCardHome {
    font-size: 1.2rem !important;
    font-family: "Exo-B" !important;
    font-weight: 400 !important;
  }

  .boxIconCardHome {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 6vh;
  }
  .imageCard {
    object-fit: contain;
  }

  @media (max-width: 933px) and (min-width: 600px) {
    .boxTextCardHome {
      font-size: .72rem !important;
      width: 18vw;
    }
    .boxCardHome {
      justify-content: center;
      text-align: center;
      width: 150px;
      height: 300px;
    }
    .boxIconCardHome {
      width: 70px;
      height: 70px;
    }
    .boxTitleCardHome {
      font-size: 1rem !important;
    }
    .yellowBar {
      height: 36vh;
    }
  }

  @media (max-width: 576px) {
    .boxCardHome {
      width: 70vw;
      max-height: 34vh;
      gap: 2vh;
      scroll-snap-align: center;
      margin-left: 15vw;
      margin-right: 15vw;
      margin-bottom: 30px;
      padding: auto;
    }
    .flexYellowBar {
      top: -60%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: auto;
      justify-content: normal;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    .yellowBar {
      height: 25vh;
    }
    .boxTextCardHome {
      width: 45vw;
      font-size: .85rem !important;
    }
    .boxIconCardHome {
      margin-top: 1.2vh;
      width: 25vw;
      height: 25vw;
    }
    .boxTitleCardHome {
      font-size: 1rem !important;
    }
    .boxTextCardHome {
      font-size: .8rem !important;
    }
  }