.yellowBar {
    width: 100%;
    height: 25vh;
    background-color: rgb(243, 223, 77);
    position: relative;
    top: -18vh;
  }
  
  .boxCardHome {
    background-color: white;
    width: 22vw;
    height: 42vh;
    display: flex;
    flex-direction: column;
    padding: auto;
    box-shadow: 0px 3px 5px #3a3a3b;
    align-items: center;
    justify-content: center;
    gap: 2vh;
  }
  .flexYellowBar {
    display: flex;
    gap: 3vw;
    position: relative;
    top: -80%;
    justify-content: center;
  }
  .boxTextCardHome {
    width: 13vw;
    height: auto;
    text-align: center;
    font-family: "Exo" !important;
  }

  .boxTitleCardHome {
    font-size: 1.2rem !important;
    font-family: "Exo-B" !important;
    font-weight: 400 !important;
  }