.yellowBar {
    width: 100%;
    height: 25vh;
    background-color: rgb(243, 223, 77);
    position: relative;
    top: -14vh;
  }
  
  .boxCardHome {
    background-color: white;
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: auto;
    box-shadow: 0px 3px 5px #3a3a3b;
    justify-content: center;
    align-items: center;
  }
  .flexYellowBar {
    display: flex;
    gap: 3vw;
    position: relative;
    top: -80%;
    justify-content: center;
  }
  .boxTextCardHome {
    width: 15vw;
    height: auto;
    text-align: center;
  }