.flexNuestrosSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* margin-top: 7vh; */
    height: fit-content;
}

.flexNuestrosSectionTitle {
    font-family: "Exo-B";
    font-size: 3.2rem;
    margin-left: -55%;
    margin-bottom: 10px;
}

.boxImage {
    position: relative;
    width: 40vw;
    height: 1vh;
    margin-left: -80%;
    margin-bottom: 7vh;
}

.boxCarousel {
    width: 100%;
    height: 85vh;
    background-color: rgb(252, 252, 252);
    /* margin-top: 7vh; */
    /* cursor: pointer; */
}

.boxCarouselContent {
    display: flex;
    width: 90vw;
    height: 80vh;
    align-items: center;
    margin: 0 auto;
    text-align: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxImageCarousel {
    width: 38vw;
    height: 52vh;
    position: relative;
}

.carouselArrow {
    position: absolute !important;
    top: calc(50% - 15px);
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    width: 20px;
    height: 40px;
    left: 3%;
}

.carouselArrowR {
    position: absolute !important;
    top: calc(50% - 15px);
    right: 3%;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    width: 20px;
    height: 40px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.headerCarouselContent {
    font-family: "Exo-B";
    font-size: 2.1rem;
    margin-top: -3vh;
    margin-bottom: 2vh;
    width: 40vw !important;
}

.textCarouselContent {
    font-family: "Exo" !important;
    font-size: 1.5vw !important;
    display: inline;
}

.textCarouselBold {
    font-family: "Exo-SB" !important;
    display: inline;
}

.listCarousel {
    margin-top: 3vh;
    font-family: "Exo";
    list-style: disc;
    text-align: start;
    font-size: 1.4vw;
    width: 40vw;
}

.boxCarouselText {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.boxParagraph {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.flexCarouselText {
    width: 50%;
    height: auto;
    display: flex;
    gap: .7vw;
}

.yellowBarBox {
    width: 1.5vw;
    height: 7vh;
    margin-top: 5vh;
}

.yellowBar {
    object-fit: contain;
}

.indicatorCarousel {
    background: transparent;
    width: 1.3vw;
    height: 1.3vw;
    display: inline-block;
    margin: 0 8px;
    position: relative;
    top: .5vh;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid rgb(243, 223, 77);
}


.indicatorS {
    background: #FFDC06;
    border: 0px;
    /* top: -0.5vw; */
}


.boxControlesCarousel {
    display: flex;
    position: relative;
    width: 11.5vw;
    height: 4vh;
    top: -5.5vh;
    /* left: 45vw; */
    margin: 0 auto;
    justify-content: space-between;
    z-index: 1;
}

.buttonControles {
    width: inherit;
    height: inherit;
}

.boxIconControl {
    width: 1.7vw;
    height: 1.7vw;
    position: relative;
    top: .5vh;
    display: inline-block;
}

/* .boxIconControl:hover {
    zoom: 1.1;
    margin-top: -1px;
} */

.imageButtonControl {
    object-fit: contain;
}
.playButton {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(243, 223, 77);
    position: absolute;
    top: 35%;
    right: 5%;
}


@media (max-width: 933px) and (min-width: 600px) and (orientation: portrait) {

    .flexNuestrosSectionTitle {
        margin-left: -250px !important;
    }

    .boxImageCarousel{
        height: 35vh;
    }

    .boxCarouselContent {
        height:50vh;
        width: 85vw;
    }

    
    
    
}   

@media (max-width: 933px) and (min-width: 600px) and (orientation: landscape) {

    .flexNuestrosSectionTitle {
        font-size: 2.2rem !important;
        margin-top: 0 !important;
        margin-bottom: 0;
    }
    .boxParagraph {
        width: 37vw;
    }
    .boxImage {
        width: 45vw;
        height: 1.5vh;
    }

    .boxCarouselContent {
        height: 120vh;
        width: 85vw;
    }
    .flexCarouselText {
        gap: 2vh;
    }

    .textCarouselContent {
        font-size: .8rem !important;
        text-align: start;
    }

    .textCarouselBold {
        font-size: .8rem !important;
        text-align: start;
    }

    .headerCarouselContent {
        font-size: 1.5rem !important;
        text-align: start;
    }

    .listCarousel {
        font-size: .8rem;
    }

    .boxCarouselText {
        margin-top: -8vh;
        width: 50vw;
    }
    .boxCarousel {
        height: auto;
    }
    .yellowBar {
        object-fit: contain;
    }
    .listCarousel {
        width: 35vw;
    }
    .boxIconControl {
        height: 5vh;
        width: 5vw;
    }
    .boxControlesCarousel {
        width: 21vw;
        height: 5vh;
        top: -10.9vh;
        margin: 0 auto;
        gap: 2vw;
    }
    .indicatorCarousel {
        width: 2.5vw;
        height: 5vh;
        bottom: 1vh;
    }
    .playButton {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid rgb(243, 223, 77);
        top: 25%;
        right: 5%;
    }
}

@media (max-width: 741px) and (min-width: 576px) {
    .boxControlesCarousel {
        top: -12.2vh;
        width: 22vw !important;
    }
}


@media (max-width: 576px) {
    .boxCarouselContent {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        gap: 30px;
        width: 85vw;
        margin-top: 5vh;
        margin-bottom: 8vh;
    }

    .boxCarousel {
        height: 90vh;
    }

    .boxParagraph {
        width: 75vw;
    }

    .flexNuestrosSection {
        height: fit-content;
        margin-top: 0;
    }

    .listCarousel {
        width: 70vw;
        font-size: .8rem;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .boxImageCarousel {
        width: 83vw;
        height: 30vh;
    }
    .yellowBarBox {
        margin-top: 8vh;
    }

    .boxCarouselText {
        width: 75%;
        height: auto;
        margin-top: 2vh;
    }
    .flexCarouselText {
        width: 90vw;
        gap: 4vw;
    }

    .textCarouselContent {
        font-size: .85rem !important;
        text-align: start
    }

    .textCarouselBold {
        font-size: .85rem !important;
        text-align: start
    }

    .headerCarouselContent {
        font-size: 1.3rem !important;
        margin-bottom: 2vh;
        width: 70vw !important;
        text-align: start;
    }

    .flexNuestrosSectionTitle {
        font-size: 1.7rem !important;
        margin-left: -28% !important;
        margin-bottom: 0;
    }

    .boxImage {
        width: 100vw;
        height: .7vh;
    }

    .carouselArrow {
        width: 15px;
        height: 32px;
        top: calc(20% - 15px);
        left: 2vw;
    }

    .carouselArrowR {
        width: 15px;
        height: 32px;
        top: calc(20% - 15px);
        right: 2vw;
    }
    .boxControlesCarousel {
        width: 38vw;
        height: 5vh;

        margin: 0 auto;
        gap: 5vw;
    }
    .boxIconControl {
        height: 5vh;
        width: 5vw;
    }
    .indicatorCarousel {
        width: 4.5vw;
        height: 4.5vw;
    }
    .playButton {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid rgb(243, 223, 77);
        top: 12%;
    }
}

@media (min-width: 398px) and (max-width: 576px) {

    .boxControlesCarousel {
        top: -10.9vw;
    }
    .indicatorCarousel {
        bottom: -1vh;
    }
}

@media (max-width: 397px) {
    .boxControlesCarousel {
        top: -14.5vw;
    }
    .indicatorCarousel {
        top: -2vw;
    }
    
    .flexNuestrosSectionTitle {
        margin-left: -17% !important;
    }
}