/* Sidebar.module.css */

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Ancho del sidebar cuando está cerrado */
  width: 250px; /* Ancho del sidebar cuando está abierto */
  background-color: #fff;
  transition: left 0.3s ease-in-out; /* Agrega una transición suave para el efecto de apertura/cierre */
  z-index: 100; /* Ajusta según sea necesario para estar por encima del contenido principal */
  padding: 16px !important;
  background-color: #000; /* Ajusta según sea necesario para el espacio interno del sidebar */
}

.sidebarOpen {
  left: 0;
}

.sidebarClosed {
  left: -250px;
}

/* Agrega estilos adicionales según tus necesidades */
