/* src/components/EmailForm/EmailForm.module.css */

.contactForm {
  
  margin-bottom: 5vh;
}

.flexContactSection {
  display: flex;
  
  position: absolute;
  /* margin-left: 55vw; */
  margin-top: 13vh;
  flex-direction: row;
  gap: 3vw;
}

.flexContactCardSection{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 31vh;
  width: auto;
  justify-content: space-between;
  padding: 20px;
  border-radius:8px

}

.flexContactSectionTitle {
  font-family: "Exo";
  font-size: 1.3rem;
  line-height: 1;
  -webkit-line-clamp: 2;
  margin: 0;
  font-weight: bolder;

  width:45vw

}
.flexContactSectionText {
  -webkit-line-clamp: 2;
  font-weight: bold;
  font-size: 1rem;
}

.flexContactSectionBoxText {
  width: 100%;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: gray
}
.formOptionBox {
  height: auto;
  width: 100%;
  margin-bottom: 2vh;
  border: "1pc solid #ccc"
}

.formLabel {
  color: black;
}

.formInput {
  width: 100%;
}

.flexContentContactSection {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  height: auto;
  width: auto;
  justify-content: space-between;
  padding: 20px;
}

.flexButtonContactS {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.formItemBox {
  margin-bottom: 1.5vh;
 
}
@media (max-width: 1050px) and (min-width: 600px) {
  .flexContactSectionTitle {
    font-size: 11vh;
  }
  .flexContactSectionText {
    font-size: 10px !important;
    text-align: justify;
  }
  .contactForm {
    margin-bottom: 0;
  }
  .formInput {
    height: 7vh;
  }
  .flexButtonContactS {
    margin-top: 20px;
  }
  .flexContactSection {
    margin-top: 2vh;
    margin-left: 3vw;
    width: 40vw;
  }
}


@media (max-width: 576px) {

  .contactForm {
    margin-bottom: 0;
  }
  .flexContactSection {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: auto;
    justify-content: center;
    background-color: rgba(252, 251, 251, 0.8);
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    display: block;
  }
  .flexContactSectionTitle {
    font-size: 10vw;
  }

  .flexContactSectionText {
    font-size: 11px;
  }
  .flexContentContactSection {
    gap: 2vh;
  }
  .flexButtonContactS {
    margin-top: 20px;
  }
}