/* src/components/EmailForm/EmailForm.module.css */


.flexContactSection {
  display: flex;
  
  position: absolute;
  /* margin-left: 55vw; */
  margin-top: 50px;
  flex-direction: row;
  gap: 3vw;
}

.flexContactCardSection{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: fit-content;
  width: auto;
  justify-content: space-between;
  padding: 20px;
  border-radius:8px

}

.flexContactSectionTitle {
  font-family: "Exo";
  font-size: 1.3rem;
  line-height: 1;
  -webkit-line-clamp: 2;
  margin: 0;
  font-weight: bolder;
  width:45vw
}
.flexContactSectionText {
  -webkit-line-clamp: 2;
  font-weight: bold;
  font-size: 1rem;
}

.flexContactSectionBoxText {
  width: 100%;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: gray
}
.formOptionBox {
  height: auto;
  width: 100%;
  margin-bottom: 2vh;
  border: "1pc solid #ccc"
}

.formLabel {
  color: black;
}

.formInput {
  width: 100%;
}

.flexContentContactSection {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  height: auto;
  width: 50vw;
  justify-content: space-between;
  padding: 20px;
}

.flexButtonContactS {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.formItemBox {
  margin-bottom: 1.5vh;
 
}


@media (max-width: 933px) and (min-width: 600px) {
 
 
  
  .flexContactSection {
    zoom:0.8;
    width: 100%;
    margin-left: 0vw;
    margin-top: 2vh;
  }
}

/* @media (max-width: 920px)  {

  .flexContactSection {
    zoom:0.7;

    width: 95%;
  }
}

@media (max-width: 820px)  {

  .flexContactSection {
    zoom:0.6;
    margin-left: 15vw;
  }
}

@media (max-width: 820px)  {

  .flexContactSection {
    zoom:0.55;
    margin-left: 15vw;
  }
}

@media (max-width: 720px)  {

  .flexContactSection {
    zoom:0.5;
    margin-left: 15vw;
  }
} */

@media (max-width: 620px)  {
  

  .contactForm {
    margin-bottom: 0;
 
  }
  .flexContactSection {
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    height: 60vh;
    margin-top: 3vh;
    display: block;
    flex-direction: column;
  }

  .flexContactCardSection{
    height: max-content;
    margin: 0px auto;
    width: 90vw;
  }
  .flexContactSectionTitle {
    font-size: 5vw;
  }

  .flexContactSectionText {
    font-size: 11px;
  }
  .flexContentContactSection {
    gap: 2vh;
    width: auto;
  }
  .flexButtonContactS {
    margin-top: 20px;
  }
}