.footer {
  position: relative;
  width: 100%;
  height: 22vh;
  background-color: black;
  display: flex;
}

.flexFooter {
  width: 90%;
  height: auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
}

.boxLogoFooter {
  width: 17vw;
  height: auto
}

.textFooter {
  color: white
}

.boxTextoFooter {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: auto;
  align-items: center;
}

.boxImage {
  width: 20px;
  height: 20px;
}

.image {
  object-fit: contain;
}

.textRights {
  font-family: "Exo" !important;
  font-size: 0.9rem !important;
  color: white;
}

.firstBoxFlex {
  width: 16vw;
  height: auto;
  display: flex;
  gap: 5px;
}

.boxContactFooter {
  display: flex;
  width: 18vw;
  height: fit-content;
  flex-direction: column;
  gap: 1vh;
}

.headerBoxContact {
  color: white;
  font-family: "Exo-B" !important;
  font-size: large !important;
}

.flexContactInfo {
  display: flex;
  gap: .8vw;
  width: 25vw;
  height: 3vh;
  align-items: center;
}

.boxIconContact {
  height: 20px;
  width: 20px;
}

.textContactInfo {
  font-family: "Exo";
  font-size: 0.8rem;
  color: white;
}

.boxContactInfo {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.textBoxRedes {
  color: white;
  font-size: 0.9rem;
  font-family: "Exo";
  margin: 0;
}

.boxRedesFooter {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.boxIconRedes {
  height: 20px;
  width: 20px;
}

.flexIconRedes {
  display: flex;
  gap: 1vw;
}
.boxTextContactInfo {
  width: 20vw;
  height: auto;
}
.boxTextRights {
  margin-left: 0 auto;
  width: 16vw;
}

@media (max-width: 930px) and (min-width: 600px) {

  .flexFooter {
    width: 200px;
    gap: 10px;
  }

  .footer {
    height: 40vh;
  }

  .textFooter {
    font-size: 14px;
  }
}

@media (max-width: 576px) {

  .flexFooter {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
  }
  .boxImage {
    width: 15px;
    height: 15px;
  }
  .boxLogoFooter {
    width: 40vw;
    height: auto;
  }
  .textFooter {
    font-size: 14px;
  }
  .footer {
    height: 40vh;
  }
  .boxIconContact {
    display: none;
  }
  .textBoxRedes {
    display: none;
  }
  .firstBoxFlex {
    width: 45vw;
  }
  .headerBoxContact {
    font-size: .9rem !important;
  }
  .textRights {
    font-size: .7rem !important;
    text-wrap: nowrap;
  }
  .boxContactFooter {
    width: 45vw;
    align-items: center;
  }
  .textContactInfo {
    width: 80vw;
    text-wrap: nowrap;
    margin: 0 !important;
  }
  .boxTextContactInfo {
    width: 40vw;
    height: 10vh;
  }
  .flexContactInfo {
    justify-content: center;
  }
  .firstBoxFlex {
    justify-content: center;
  }
  .boxTextoFooter {
    align-items: center;
  }
  .boxContactInfo {
    gap: .1vh;
  }
}
