.footer {
  position: relative;
  width: 100%;
  height: 22vh;
  background-color: black;
  display: flex;
  bottom: -50vh;
}

.flexFooter {
  width: 90%;
  height: auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
}

.boxLogoFooter {
  width: 17vw;
  height: auto
}

.textFooter {
  color: white
}

.boxTextoFooter {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: auto;
  align-items: center;
  position: relative;
  top: 6vh;
}

.boxImage {
  width: 20px;
  height: 20px;
}

.image {
  object-fit: contain;
}

.textRights {
  font-family: "Exo" !important;
  font-size: 0.9rem !important;
  color: white;
  text-align: center;
}

.firstBoxFlex {
  width: 16vw;
  height: auto;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.boxContactFooter {
  display: flex;
  width: 18vw;
  height: fit-content;
  flex-direction: column;
  gap: 1vh;
}

.headerBoxContact {
  color: white;
  font-family: "Exo-B" !important;
  font-size: large !important;
}

.flexContactInfo {
  display: flex;
  gap: .8vw;
  width: 25vw;
  height: 3vh;
  align-items: center;
}

.boxIconContact {
  height: 20px;
  width: 20px;
}

.textContactInfo {
  font-family: "Exo";
  font-size: 0.8rem;
  color: white;
}

.boxContactInfo {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.textBoxRedes {
  color: white;
  font-size: 0.9rem;
  font-family: "Exo";
  margin: 0;
}

.boxRedesFooter {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.boxIconRedes {
  height: 20px;
  width: 20px;
}
.boxIconRedes2 {
  height: 25px;
  width: 25px;
}

.flexIconRedes {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.boxTextContactInfo {
  width: 20vw;
  height: auto;
}
.boxTextRights {
  /* margin-left: 0 auto; */
  width: 16vw;
}

.boxHoverEffect {
  display: flex;
  flex-direction: column;
  height: 20vh;
}
.loginBox {
  width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  background-color: black;
  align-items: center;
  top: -3vh;
}
.loginBox:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 933px) and (min-width: 600px) {

  .flexFooter {
    width: 90vw;
  }

  .footer {
    height: 35vh;
    top: 85vh;
  }
  .boxContactFooter {
    gap: 2vh;
  }

  .textFooter {
    font-size: .8rem;
  }
  .boxTextoFooter {
    width: 30vw;
    align-items: center;
    top: 9vh;
  }
  .boxTextRights {
    width: 25vw;
  }
  .firstBoxFlex {
    width: 25vw;
  }
  .textRights {
    font-size: .7rem !important;
  }
  .headerBoxContact {
    font-size: .8rem !important;
    margin-bottom: 0 !important;
  }
  .textContactInfo {
    font-size: .6rem;
  }
  .textBoxRedes {
    font-size: .6rem;
  }
  .boxIconContact {
    width: 2vw;
    height: 4vh;
  }
  .boxIconRedes {
    width: 2vw;
    height: 4vh;
  }
  .boxContactInfo {
    gap: 2vh;
  }
  .boxHoverEffect {
    height: auto;
    align-items: center;
  }
  .loginBox {
    top: -3vw;
  }
}

@media (max-width: 576px) {

  .flexFooter {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
  }
  .boxImage {
    width: 15px;
    height: 15px;
  }
  .boxLogoFooter {
    width: 45vw;
    height: auto;
  }
  .textFooter {
    font-size: 14px;
  }
  .footer {
    height: 42vh;
    top: 65vh;
    overflow: hidden;
  }
  .boxIconContact {
    display: none;
  }
  .textBoxRedes {
    display: none;
  }
  .firstBoxFlex {
    width: 45vw;
  }
  .headerBoxContact {
    font-size: .9rem !important;
    margin-top: 0;
  }
  .textRights {
    font-size: .7rem !important;
    text-wrap: nowrap;
  }
  .boxContactFooter {
    width: 45vw;
    align-items: center;
  }
  .textContactInfo {
    width: 85vw;
    text-wrap: nowrap;
    margin: 0 !important;
  }
  .boxTextContactInfo {
    width: 40vw;
    height: 10vh;
  }
  .flexContactInfo {
    justify-content: center;
  }
  .firstBoxFlex {
    justify-content: center;
  }
  .boxTextoFooter {
    align-items: center;
    margin: 0 auto;
    top: 3vh;

  }
  .boxContactInfo {
    gap: .1vh;
  }
  .flexIconRedes {
    gap: 3vw;
  }
  .boxIconRedes {
    height: 30px;
    width: 30px;
  }
  .boxIconRedes2 {
    height: 35px;
    width: 35px;
  }
  .boxTextRights {
    width: 45vw;
  }
  .loginBox {
    width: 60vw;
  }
  .boxHoverEffect {
    height: auto;
  }
}
