.flexNuestrosSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 80%;
    top: -18vh;
    position: relative;
    box-shadow: 0px 3px 5px -1px #808082;
    margin-top: 5vh;
}

.boxImage {
    position: relative;
    width: 40vw;
    height: 1vh;
    margin-left: -80%;
}

.boxCarousel {
    width: 100%;
    height: 70vh;
    background-color: rgb(252, 252, 252);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.boxCarouselContent {
    display: flex;
    width: 90vw;
    height: 70vh;
    align-items: center;
    margin: 0 auto;
    text-align: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: -4vh;
}

.boxImageCarousel {
    width: 30vw;
    height: 50vh;
    position: relative;
}

.headerCarouselContent {
    font-family: "Exo-B";
    font-size: 3rem;
    margin-top: 0;
    position: relative;
    top: 6vh;
    left: 10vw;
    margin-left: 0;
    margin-bottom: 0;
    width: fit-content;
}

.textCarouselContent {
    font-family: "Exo" !important;
    font-size: 1.5vw !important;
    display: inline;
    border-left: 4px solid rgb(243, 223, 77);
    padding-left: 30px;
}

.textCarouselBold {
    font-family: "Exo-SB" !important;
    font-size: 1.5vw !important;
    display: inline;
}

.listCarousel {
    margin-top: 3vh;
    font-family: "Exo";
    list-style: disc;
    text-align: start;
    font-size: 20px;
}

.boxCarouselText {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7vh;
}

.boxParagraph {
    width: 40vw;
    height: auto;
    /* max-height: 20vh; */
    display: flex;
    flex-direction: column;
    margin-bottom: 7vh;
}

@media (max-width: 933px) and (min-width: 600px) {
    .headerCarouselContent {
        font-size: 1.6rem !important;
    }
    .textCarouselContent {
        font-size: .8rem !important;
    }
    .textCarouselBold {
        font-size: .8rem !important;
    }
    .boxCarouselContent {
        margin-top: 10vh;
        height: auto;
    }
    .flexNuestrosSection {
        height: fit-content;
      
    }
    .boxCarousel {
        height: 80vh;
    }

}

@media (max-width: 576px) {
    .boxCarouselContent {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        gap: 30px;
        align-items: start;
        margin-left: 4vw;
        top: 0;
        justify-content: flex-end;
        height: auto;
    }

    .boxCarousel {
        height: auto;
    }

    .boxParagraph {
        width: 80vw;
        margin-bottom: 4vh;
    }

    .flexNuestrosSection {
        height: auto;
        margin-top: 3vh;
    }

    .listCarousel {
        width: 70vw;
        font-size: 14px;
    }

    .boxImageCarousel {
        width: 80vw;
        height: 32vh;
    }

    .boxCarouselText {
        width: 75%;
        height: auto;
        top: 1vh;
    }

    .textCarouselContent {
        font-size: 14px !important;
        padding-left: 3vw;
    }

    .textCarouselBold {
        font-size: 14px !important;
    }

    .headerCarouselContent {
        font-size: 1.7rem;
        margin-bottom: 2vh;
        top: 0;
        margin-left: 4vw;
    }

    .boxImage {
        width: 100vw;
        height: .7vh;
    }
}